<h1 class="page-header">Activitātes</h1>
<%= link_to "Jauns Ziņojums", new_status_path, class:"btn btn-success" %>
<% @statuses.each do |status| %>
<div class="status">
<strong><%= status.name %></strong>
<p><%= status.content %></p>
<span class="meta">
  <%= link_to time_ago_in_words(status.created_at) + "ago", status %>  
</span>

<span class="admin">
|<%= link_to "Edit" , edit_status_path(status) %>|<%= link_to "Delete", status, method: :delete, data: { confirm: "Vai tiešām?"} %>

 </span>

</div>
  <% end %>